 <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
                md-component-id="left" 
                md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar>
    <h1>Projects</h1>
  </md-toolbar>
  <div layout-padding>
    <md-autocomplete
      md-search-text="mainCtrl.searchText"
      md-items="item in mainCtrl.artProjects | filter:mainCtrl.searchText"
      md-item-text="item.projectName"
      md-min-length="2"
      placeholder="filter">
      <md-item-template>
        <span md-highlight-text="mainCtrl.searchText" md-highlight-flags="^i">{{item.projectName}}</span>
      </md-item-template>
      <md-not-found>
        No user matching "{{mainCtrl.searchText}}" were found.          
      </md-not-found>
    </md-autocomplete>
  </div>
  <md-content class="scrollable-nav-content">
    <md-list>
      <md-list-item ng-repeat="project in mainCtrl.artProjects | orderBy:'id' | filter:mainCtrl.searchText">
        <md-button ng-click="mainCtrl.selectProject(project)"
                   ng-class="{'selected': user === mainCtrl.selectedProject }">
          <img ng-src="{{project.avatarUrl}}" class="avatar avatar-small">
          {{project.projectName}}
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
 </md-sidenav>